{% extends "base.twig" %}

{% block content %}
    <section class="top-page">
     <h1 class="article-h1">{{ post.title }}</h1>
    </section>
    <div class="front-article">
    {% if latest_posts_by_category %}
        <ul>
            {% for category_slug, post in latest_posts_by_category %}            
                <li>
                    {# <article class="tease tease-{{ post.type }}" id="tease-{{ post.ID }}"> #}
                        {# <h2 class="h2"><a href="{{ post.link }}">{{ post.title }}</a></h2> #}
                      {% include 'parts/teaser.twig' %}
                    {# </article> #}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}
