{% extends 'base.twig' %}

{% block content %}
<article id="post-{{ post.ID }}" class="post-type-{{ post.post_type }}">
    <div class="entry-content">
        {% if (post.thumbnail) %}
        <img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" />
        {% endif %}
        <h1 class="entry-title">{{ post.title }}</h1>
        <div class="byline">
            <span>By {{ post.author.name }}</span>
            <span>{{ post.post_date|date('F j, Y') }}</span>
        </div>
        <div class="body">
            {{ post.content }}
        </div>
    </div>
</article>
{% endblock %}
